
<h2 class="text-center mt-4">Change your password</h2>

<div class="flex flex-col md:flex-row sm:max-w-lg sm:p-6 sm:mx-auto sm:mt-2 md:mt-4">

  <div class="md:flex-1 mt-2 md:border-r md:pr-6 md:mr-6">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.hidden_field :reset_password_token %>

      <div class="mt-2">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'New password', class: 'w-full px-4 py-3 leading-none border border-grey-light rounded' %>
      </div>

      <div class="mt-2">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm new password',  class: 'w-full px-4 py-3 leading-none border border-grey-light rounded' %>
      </div>

      <div class="mt-2">
        <%= f.submit "Change my password", class: 'w-full px-4 py-3 rounded text-white transition bg-primary hover:opacity-75 cursor-pointer' %>
      </div>
    <% end %>

  </div>

  <div class="border-t pt-2 mt-4 md:p-0 md:m-0 md:border-none md:flex md:items-center">
    <%= render "devise/shared/links" %>
  </div>
</div>

