
<h2 class="text-center mt-4">Log in</h2>

<div class="flex flex-col md:flex-row sm:max-w-lg sm:p-6 sm:shadow-md sm:mx-auto sm:mt-2 md:mt-4 rounded">

  <div class="md:flex-1 mt-2 md:border-r md:pr-6 md:mr-6">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="mt-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'w-full px-4 py-3 leading-none border border-grey-light rounded' %>
      </div>

      <div class="mt-2">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'w-full px-4 py-3 leading-none border border-grey-light rounded' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="my-4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: 'text-grey-dark' %>
        </div>
      <% end -%>

      <div class="mt-2">
        <%= f.submit "Log in", class: 'w-full px-4 py-3 rounded text-white bg-blue hover:bg-blue-light cursor-pointer' %>
      </div>
    <% end %>

  </div>

  <div class="border-t pt-2 mt-4 md:p-0 md:m-0 md:border-none md:flex md:items-center">
    <%= render "devise/shared/links" %>
  </div>
</div>

