<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.application_name %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= yield :meta %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>

    <% if @state %>
      <script>
        window.__INITIAL_STATE__ = <%= raw @state.to_json %>;
      </script>
    <% end %>

    <%= javascript_pack_tag 'base', 'data-turbolinks-track': 'reload' %>
    <%= yield :js %>
  </head>

  <body class="font-sans">

    <div id="app">
      <app :spa="false">
        <%= yield %>
      </app>
    </div>

  </body>
</html>
